# Ignore build files and directories
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
cmake-build-debug/
cmake-build-release/
.cmake/
__pycache__/

# Ignore IDE diretories
.idea/

# Ignore configurations and results
result*
venv/
scripts/configs/

# Ignore temporary folders and files used for local code experiments
temp/
temp*

# Custom files
diagrams/
plots/
*.svg
